*,
*::before,
*::after {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #fff;
    font-size: 16px;
    font-family: Verdana, sans-serif;
    line-height: 24px;
    color: #000;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
}

button {
    background-color: transparent;
    border-color: transparent;
    padding: 0;
    font-size: inherit;
}

[role="button"] {
    cursor: pointer;
}

[v-cloak] {
    display: none;
}
